/* d  */
  
/*
html { 
  background: url("../assets/8BitBackground2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

body{ 
/*    margin: 0 auto;*/
/*    width: 95%;*/
/*    height: 95%;*/
    background-color: #fdf7ef;
/*
    background: url("assets/8BitBackground.jpg") no-repeat center center fixed; ;
    background-repeat: no-repeat;
*/
}

#container {
    height: auto;
    width: 1000px;
    margin: 0 auto;
/*    background-color: #fdf7ef; */
    background-color: #697368;
    border: 10px solid #697368;
    padding: 10px;
    position: relative;
    z-index: 101;
}

h1, h2 {
    text-align: center;
    font-family: 'VT323', monospace;
    background-color: antiquewhite;
/*    background-color: #d4c9b2;*/
    border: 10px solid #61b1ff;
    padding: 10px 0 10px 0;
/*    width: 95%;*/
}

h1 {
    font-size: 66px;
    width: auto;
    margin: 0px auto 0px auto;
    background-color: #cbffed;
}

h2 {
    font-size: 48px;
    padding: 10px;
    width: auto;
    margin: 10px auto;
    background-color: #cbffed;
/*    text-align: center;*/
}

#instructions {
    background-color: antiquewhite;
}

#instructions:hover {
    color: lightslategray;
}

#playBar {
}

#startComputerLoop {
/*    padding: 10px*/
    float: left;
    clear: none;
}

#toggleUserLoop {
    float: right;
    clear: none;
}

#startComputerLoop:hover {
    color: lightslategray;
}

#toggleUserLoop:hover {
    color: lightslategray;
}

#instrumentsPanel {
/*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
*/
    display: flex;
    flex-direction: column;
/*    flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 700px;
    width: auto;
    background-color: #cbffed;
    border: 10px solid #61b1ff;
    font-family: 'VT323', monospace;
/*    font-size: 600px; */
}

#kickPanel, #snarePanel, #hiHatCPanel, #hiHatOpPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 22%;
    width: 98%;
    margin: 10px auto 0 auto;
    background-color: #61b1ff;
/*    border: 10px solid black;*/
    padding: 0px;
    
}

.kickSteps, .snareSteps, .hiHatCSteps, .hiHatOpSteps {
    height: 20%; 
    width: 5.7%;
    background-color: antiquewhite;
    border: .5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
}

.kickSteps:hover, .snareSteps:hover, .hiHatCSteps:hover, .hiHatOpSteps:hover {
    height: 20%; 
    width: 5.7%;
    background-color: #cbffed;
    border: .5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.litSteps {
    background-color: #cbffed;
}

.quarterNote {
    background-color: #fdf7ef;
}
/*http://www.color-hex.com/color/faebd7*/

.quarterNote.litSteps {
    background-color: aquamarine;
}

.metronome {
    background-color: coral;
}

/*VISUALIZER*/

div#container > div#mp3_player { 
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000; 
    padding: 5px; 
    margin: 50px auto; 
/*    z-index: 100;*/
}
div#container > div > audio {  
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #cbffed; 
    float: left;  
}
canvas { 
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fdf7ef; 
    float: left; 
}



/*
div#mp3_player { 
    width:500px; 
    height:60px; 
    background:#000; 
    padding:5px; 
    margin:50px auto; 
}
div#mp3_player > div > audio {  
    width:500px; 
    background:#000; 
    float:left;  
}
div#mp3_player > canvas { 
    width:500px; 
    height:30px; 
    background:#002D3C; 
    float:left; 
}
*/


/* BACKGROUND IMG text
_____$_____$_____$_____$_____$_____$_____$_____$
____#_____#_____#_____#_____#_____#_____#_____#_
___%_____%_____%_____%_____%_____%_____%_____%__
__*_____*_____*_____*_____*_____*_____*_____*___
_@_____@_____@_____@_____@_____@_____@_____@____
$_____$_____$_____$_____$_____$_____$_____$_____$
_____$_____$_____$_____$_____$_____$_____$_____$
____#_____#_____#_____#_____#_____#_____#_____#_
___%_____%_____%_____%_____%_____%_____%_____%__
__*_____*_____*_____*_____*_____*_____*_____*___
_@_____@_____@_____@_____@_____@_____@_____@____
$_____$_____$_____$_____$_____$_____$_____$_____$
_____$_____$_____$_____$_____$_____$_____$_____$
____#_____#_____#_____#_____#_____#_____#_____#_
___%_____%_____%_____%_____%_____%_____%_____%__
__*_____*_____*_____*_____*_____*_____*_____*___
_@_____@_____@_____@_____@_____@_____@_____@____
$_____$_____$_____$_____$_____$_____$_____$_____$
*/