body{ 
    background-color: #fdf7ef;
}

#container {
    height: 700px;
    width: 700px;
    margin: 10px auto 5px auto;
    background-color: #697368;
    border: 5px solid #697368;
    padding: 5px;
    position: relative;
    z-index: 101;
}

h1, h2 {
    text-align: center;
    font-family: 'VT323', monospace;
    background-color: antiquewhite;
    border: 5px solid #61b1ff;
/*    padding: 10px 0 10px 0;*/
}

h1 {
    font-size: 30px;
    width: auto;
    margin: 0px auto;
    background-color: #cbffed;
    padding: 5px;
}

h2 {
    font-size: 30px;
    padding: 5px;
    width: auto;
    margin: 10px auto;
    background-color: #cbffed;
}

h3 {
/*    padding: 0;*/
}

#instructions {
    background-color: antiquewhite;
    cursor: pointer;
}

.instructionsFlash {
    color: lightslategray;
}

#instructions:hover {
    color: lightslategray;
}

#tooltip {
    background: #fdf7ef;
    border: 8px solid black;
    padding: 3px 10px;
    z-index: 200;
    width: 500px;
    font-size: 30px;
    font-family: 'VT323', monospace;
}

#orBar {
    background-color: #cbffed;
    cursor: pointer;
}

.orBarFlash {
    color: lightslategray;
}

#playBar {
}

#startComputerLoop {
    float: left;
    clear: none;
    cursor: pointer;
}

#toggleUserLoop {
    float: right;
    clear: none;
    cursor: pointer;
}

#startComputerLoop:hover {
    color: lightslategray;
}

#toggleUserLoop:hover {
    color: lightslategray;
}

#instrumentsPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height:497px;
    width: auto;
    background-color: #cbffed;
    border: 5px solid #61b1ff;
    font-family: 'VT323', monospace;
}

#kickPanel, #snarePanel, #hiHatCPanel, #hiHatOpPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 25%;
    width: 98%;
    margin: 5px auto 0 auto;
    background-color: #61b1ff;
/*    border: 10px solid black;*/
    padding: 0px;
    
}

.kickSteps, .snareSteps, .hiHatCSteps, .hiHatOpSteps {
    height: 20%; 
    width: 5.8%;
    background-color: antiquewhite;
    border: .5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.kickSteps:hover, .snareSteps:hover, .hiHatCSteps:hover, .hiHatOpSteps:hover {
    background-color: #cbffed;
}

.litSteps {
    background-color: #cbffed;
}

.quarterNote {
    background-color: #fdf7ef;
    transition: opacity 500 ease-in-out;
}

.quarterNote.litSteps {
    background-color: aquamarine;
}

.metronome {
    background-color: #61b1ff !important;
    transition: opacity 2000 ease-in-out;
}

/*VISUALIZER*/
div#container > div#mp3_player { 
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000; 
    padding: 5px; 
    margin: 50px auto; 
}
div#container > div > audio {  
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #cbffed; 
    float: left;  
}
canvas { 
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fdf7ef; 
    float: left; 
}

footer {
    clear: both;
    font-family: 'VT323', monospace;
    text-align: center;
}

/*
@media (max-width: 1050px) {
    #container {
        background-color: black;
        width: 480px;
    }
    
}
*/

/* BACKGROUND IMG text
_____$_____$_____$_____$_____$_____$_____$_____$
____#_____#_____#_____#_____#_____#_____#_____#_
___%_____%_____%_____%_____%_____%_____%_____%__
__*_____*_____*_____*_____*_____*_____*_____*___
_@_____@_____@_____@_____@_____@_____@_____@____
$_____$_____$_____$_____$_____$_____$_____$_____$
_____$_____$_____$_____$_____$_____$_____$_____$
____#_____#_____#_____#_____#_____#_____#_____#_
___%_____%_____%_____%_____%_____%_____%_____%__
__*_____*_____*_____*_____*_____*_____*_____*___
_@_____@_____@_____@_____@_____@_____@_____@____
$_____$_____$_____$_____$_____$_____$_____$_____$
_____$_____$_____$_____$_____$_____$_____$_____$
____#_____#_____#_____#_____#_____#_____#_____#_
___%_____%_____%_____%_____%_____%_____%_____%__
__*_____*_____*_____*_____*_____*_____*_____*___
_@_____@_____@_____@_____@_____@_____@_____@____
$_____$_____$_____$_____$_____$_____$_____$_____$
*/